@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}
/* NAVBAR */
.nav {
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.nav img {
  max-width: 100px;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}
.header img {
  max-width: 400px;
}
.header h1 {
  align-self: flex-start;
  padding-left: 36px;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  line-height: 110%;
}
.header p {
  align-self: flex-start;
  width: 360px;
  margin: 0;
  padding-left: 36px;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}
/* MAIN CONTENT CONTAINER */
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 36px;
}
/* CARD */
.card {
  position: relative;
  width: 176px;
}
.card--picture {
  width: 100%;
  height: 235px;
  border-radius: 9px;
}
.card--rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card--rating p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}
.card--count_rating {
  color: #918e9b;
}
.card--rating ul {
  padding-left: 20px;
  margin: 0;
  color: #918e9b;
}
.card--description {
  font-size: 12px;
  font-weight: 300;
  color: #222222;
}
.card--price {
  font-size: 12px;
  color: #222222;
}
.card--price span {
  font-weight: 600;
}
.card--status {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 61px;
  height: 20px;
  text-transform: uppercase;
  font-size: 10px;
  color: #222222;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}